<div class="hxRow">
  <div class="hxCol hxSpan-12">
    <app-breadcrumb></app-breadcrumb>
  </div>
</div>

<div class="hxRow MarginTop">
  <div class="hxCol hxSpan-3 border marge-left">
    <div class="hxRow TopPadWith">
      <div class="hxCol">
        <app-metric-dd [ddlist]="visualize.group" [pillConcat]="false" [defaultSelection]="defaultGroup"
          [pills]=groupPillSet (dismissPill)="disMissedGroup($event)" (emitedValue)="metricGroupChange($event)">
        </app-metric-dd>

      </div>
    </div>
    <div class="hxRow">
      <div class="hxCol">
        <app-metric-dd [ddlist]="visualize.metrics" [pillConcat]="true" [defaultSelection]="defaultMetric"
          [pills]=metricPillSet (dismissPill)="disMissedMetric($event)" (emitedValue)="metricChange($event)">
        </app-metric-dd>
      </div>

    </div>
    <div class="hxRow">
      <div class="hxCol">
        <app-metric-dd [ddlist]="visualize.tags" [pillConcat]="true" [defaultSelection]="defaultTags" [pills]=tagPillSet
          (dismissPill)="disMissedTag($event)" (emitedValue)="tagChange($event)"></app-metric-dd>
      </div>

    </div>
  </div>
  
  <div class="hxCol hxSpan-8 border marge-left">
    <div class="hxRow TopPadWith">
      <div class="hxCol hxSpan-9 grid-containerC1 ">
        <app-visualize-timerange [duration]="visualize.date.duration" [start]="visualize.date.start"
        [end]="visualize.date.end" [presetData]="presetData" (timeRangeEmitter)="timeRangeChange($event)">
      </app-visualize-timerange>
      </div>
      <div class="hxCol hxSpan-3">
        <hx-icon class="icon" type="grid" *ngIf="chartInfo.isGridView" (click)="changeSize()" ></hx-icon>
        <hx-icon  class="icon" type="list" *ngIf="!chartInfo.isGridView" (click)="changeSize()"></hx-icon>
        </div>
      
    </div>

    <div class="hxRow">
      <div class="hxCol hxSpan-12 TopPadWith" [ngClass]="chartInfo.isGridView?'grid-containerC2':'grid-containerC1'">
        <app-hedwig-graph class="graph" #graph *ngFor="let grph of graphMetric" group="tags.system_key" fieldName="system_key" [width]="chartInfo.width"
          [height]="chartInfo.height" type="MAAS_cpu" [data]="JSON.stringify(grph.graph)"></app-hedwig-graph>
      </div>
      

    </div>
  </div>
</div>
