<div class="hxRow">
  <div class="hxCol hxSpan-12">
    <app-breadcrumb></app-breadcrumb>
</div>
</div>

<div class="hxRow">
  <div class="hxCol hxSpan-2">
    <div class="hxRow">
      <div class="hxCol">
      <hx-select-control>
        <select (change)="groupSelection($event.target.value)"
          id="mtrcGrp">
          <option value="">Select a Metric Group</option>
          <option *ngFor="let item of metricGrp" [ngValue]="item">{{item}}</option>
        </select>
        <hx-select></hx-select>
      </hx-select-control>
      <hx-pill id="{{groupPill}}" (dismiss)="dismissGroup(groupPill)" *ngFor="let groupPill of groupSet">{{groupPill}}</hx-pill>
      </div>
    </div>
   
<div class="hxRow">
  <div class="hxCol">
    <hx-select-control>
      <select  (change)="metricSelection($event.target.value)"
        id="selDemo">
        <option value="">Select a Metric</option>
        <option *ngFor="let item of metrics" [ngValue]="item">{{item}}</option>
      </select>
      <hx-select></hx-select>
    </hx-select-control>

    <hx-pill id="{{metricPill}}" (dismiss)="dismissMetric(metricPill)" *ngFor="let metricPill of metricSet">{{metricPill}}</hx-pill>
  </div>
</div>
   
  </div>
   
    
    <div class="hxCol hxSpan-">
      <app-graphs></app-graphs>
    </div>
</div>