<table class="hxTable">
    <caption>Tenant Metadata List</caption>
    <thead>
      <tr>
        <th>id</th>
        <th>tenantId</th>
        <th>accountType</th>
        <th class="hxRight">Description</th>
        <th class="hxRight">Created Date</th>
        <th class="hxRight">Updated Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of array(12)">
        <td>3bbd7c9d-c776-4098-ab98-e2c23516935a</td>
        <td>123456</td>
        <td>cloud</td>
        <td class="hxRight">Testing Purpose</td>
        <td class="hxRight">2020-11-06</td>
        <td class="hxRight">2020-11-06</td>
      </tr>
    </tbody>
  </table>