.hxRow .hxCol.resource-header {
    margin-left: 10px !important;
}

.hxRow .hxCol.resource-header button {
    margin-right: 15px;
}

.hxRow.resource-paging {
    text-align: center;
}

.popExpand {
    width:500px
}

.hxCol-6.enabled-padding {
    padding: 0 5px 0 20px;
}

.hxRow.footer{
    padding: 20px 0 20px;
}

hx-text-control[required] input {
    border: 2px solid #d32f2f;
}

.hxDivSuccess {
    color: #4caf51;
    font-size: 18px;
    text-align: center;
    white-space: pre-line;
    text-transform: lowercase;
}

.hxDivErr {
    color: #d32f2f;
    font-size: 18px;
    text-align: center;
    white-space: pre-line;
    text-transform: lowercase;
}


hx-alert[type="success"] {
    color: #4caf51 !important;
    background-color: #ffffff !important;
}

hx-alert[type="error"] {
    color: #d32f2f !important;
    background-color: #ffffff !important;
}

.buttonIcon {
    border: none !important;
    cursor: pointer !important;
}