<div class="hxRow">
  <app-monitor-search class="hxCol" [placeholder]="monitorSearchPlaceholderText" (monitorSearchResults)="monitorResults($event)" (searching)="monitorsSearch($event)" (resetResults)="resetSearch()"></app-monitor-search>
  <div class="hxCol monitors-header">
  <button id="crtMonitor" class="hxBtn hxPrimary" routerLink="/monitors/create">
    Create Monitor
  </button>

  <button id="crtSupp" class="hxBtn" [disabled]="selectedMonitors.length === 0">
    Create Suppression
  </button>

  <button id="cpMonitor" class="hxBtn" [disabled]="selectedMonitors.length === 0">
    Copy Monitor
  </button>

  <hx-disclosure class="hxBtn" #delMonitorLink aria-controls="delMonitorModal" [disabled]="selectedMonitors.length === 0">
    Delete
  </hx-disclosure>

  <app-modal [modalType]="modalType" [message]="message" header="Delete selected monitor(s)" (triggerClose)="triggerClose($event)" (triggerConfirm)="triggerConfirm()" ></app-modal>

  </div>

  <hx-modal class="hxSm" #confirmMonitor
  id="confirmMonitorModal">
    <header>
    </header>
    <div>
      <hx-div>
        <hx-progress value="{{progressVal}}"></hx-progress>
      </hx-div>
    </div>
    <hx-alert type="success" persist>  {{ this.successCount }} out of {{ selectedMonForDeletion.length }} were deleted successfully!
    </hx-alert>
    <footer>
      <button id="triggerOk" class="hxBtn hxPrimary"(click)="triggerOk()" [disabled]="disableOk">Ok</button>
    </footer>
</hx-modal>


</div>
<table class="hxTable">
  <thead>
    <tr>
      <th class="hxControl">
          <hx-checkbox-control>
              <input #chkColumn
                type="checkbox"
                id="chkColumn"
                (change)="checkColumn($event)"
              />
              <label for="chkColumn">
                <hx-checkbox></hx-checkbox>
              </label>
            </hx-checkbox-control>
      </th>
      <th>MONITOR
        <button class="buttonIcon"  (click)="isDescending ? sortMonitors('desc', 'id') : sortMonitors('asc', 'id')">
          <hx-icon *ngIf="isDescending"
            type="angle-down">
          </hx-icon>
          <hx-icon *ngIf="!isDescending"
            type="angle-up">
          </hx-icon>
        </button>
      </th>
      <th>LABELS</th>
      <th>SCOPE</th>
      <th>TYPE</th>
    </tr>
  </thead>
  <ng-template *ngIf="monitors?.length > 0; then results; else zeroResults">
  </ng-template>
  <ng-template #results>
  <tbody>
    <tr *ngFor="let monitor of monitors">
      <td class="hxControl">
          <hx-checkbox-control>
              <input
                type="checkbox"
                id="monitor-{{monitor.id}}"
                (change)="selectMonitors(monitor)"
                [checked]="monitor.checked"
              />
              <label for="monitor-{{monitor.id}}">
                <hx-checkbox></hx-checkbox>
              </label>
            </hx-checkbox-control>
      </td>
      <td><a routerLink="{{isAdminRoute(monitor.id)}}">{{monitor.name || monitorUtil.formatSummaryField(monitor)}}</a></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
  </ng-template>
  <ng-template #zeroResults>
    <app-zero-results message="No Monitors"></app-zero-results>
  </ng-template>
</table>
<div class="hxRow monitor-paging">
  <div class="hxCol">
<app-pagination
  [total]="total"
  [page]="page"
  [perPage]="defaultAmount"
  [pagesToShow]="5"
  (goPrev)="prevPage()"
  (goNext)="nextPage()"
  (goPage)="goToPage($event)">
</app-pagination>
</div>
</div>
