
<div class="hxRow">
  <div class="hxCol">
    <hx-tabset current-tab="0">
      <hx-tablist>
        <hx-tab id="tab-1" current="true">Resources</hx-tab>
        <hx-tab id="tab-2">Monitors</hx-tab>
        <hx-tab id="tab-2">MetaData</hx-tab>
      </hx-tablist>
      <hx-tabcontent>
        <hx-tabpanel id="panel-1" open>
          <ng-template #dynamicComponent></ng-template>
          <!-- <app-monitorslist></app-monitorslist> -->
        </hx-tabpanel>
      </hx-tabcontent>
    </hx-tabset>
  </div>
</div>