<div class="hxButtonSet">
    <button class="hxBtn hxPrimary">
      Create Event
    </button>
    <button class="hxBtn">
      Delete
    </button>
  </div>

  <table class="hxTable hxTable--condensed">
      
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Measurement</th>
        <th>Agent Environment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events"> 
        <td>
          <a routerLink="">{{event.id}}</a>
        </td>
        <td><code>{{event.name}}</code></td>
        <td><code>{{event.measurement}}</code></td>
        <td><code>{{event.taskParameters.labelSelector.agent_environment}}</code></td>
      </tr>
    </tbody>
  </table>