<div class="hxButtonSet">
    <button class="hxBtn hxPrimary">
      Create Event
    </button>
    <button class="hxBtn">
      Delete
    </button>
  </div>

  <table class="hxTable hxTable--condensed">
      
    <thead>
      <tr>
        <th>Name</th>
        <th>Event Status</th>
        <th>Notification Plan</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><code>dgdfgfd</code></td>
        <td><code>fdgdfg</code></td>
        <td>Email Only</td>
      </tr>
      <tr>
        <td><code>dgdfgfd</code></td>
        <td><code>fdgdfg</code></td>
        <td>On-Call Support </td>
      </tr>
      <tr>
        <td><code>dgdfgfd</code></td>
        <td><code>fdgdfg</code></td>
        <td>Test New Plan</td>
      </tr>
      <tr>
        <td><code>dgdfgfd</code></td>
        <td><code>fdgdfg</code></td>
        <td>Technical Contacts</td>
      </tr>
      <tr>
        <td><code>dgdfgfd</code></td>
        <td><code>fdgdfg</code></td>
        <td>Test Plan</td>
      </tr>
    </tbody>
  </table>