<div *ngIf="$evnt | async as event ">
  <div class="hxCol hxSpan-9 resource-title">
    <h2>{{event?.name}}</h2>
  </div>
  <div class="hxRow hxSpan-9" style="padding-top: 20px">
    <div class="hxCol hxSpan-6">
      <h3>Event Details</h3>
    </div>
  </div>
  <div class="hxRow hxSpan-9" style="padding-top: 20px">
    <div class="hxCol hxSpan-6">
        <div id="lblMonitorType">
          <h4>Monitor Type</h4>
        </div>
        <div id="valueMontyp" class="hxCol hxSpan-6">
          {{event?.measurement}}
        </div>
    </div>
    <div id="lblLabel" class="hxCol hxSpan-6">
          <h4>Labels</h4>
    <div class="hxRow" *ngFor="let label of event?.taskParameters?.labelSelector | keyvalue">
      <div id="label.key" class="hxCol hxSpan-6">
              {{label.key}}
            </div>
            <div id={{label.value}} class="hxCol hxSpan-6">
              {{label.value}}
            </div>
        </div>
      </div>
  </div>
  <div class="hxRow hxSpan-9" style="padding-top: 20px">
      <div id="lblCreatedDate" class="hxCol hxSpan-6">
          <h4>Created Date</h4>
          <div id="valueCreatedDate">
            {{event?.createdTimestamp |  date:'MM/dd/yyyy'}}
          </div>
      </div>
    <div id="lblLast" class="hxCol hxSpan-6">
      <h4>Last Updated</h4>
      <div id="valueLast">
        {{event?.updatedTimestamp |  date:'MM/dd/yyyy'}}
      </div>
    </div>
  </div>
  <div class="hxRow" style="padding-top: 20px">
    <div class="hxCol hxSpan-12">
      <h3>Expressions</h3>
    </div>
  </div>
  <div class="hxRow hxSpan-9" style="padding-top: 20px"
    *ngFor="let ex of event?.taskParameters?.stateExpressions; index as i">
    <div class="hxCol hxSpan-6">
      <div class="hxRow">
        <div class="hxCol hxSpan-12" [ngClass]="assignClassName(ex.state)">
            {{ex.state}}
        </div>
        <div class="hxCol hxSpan-12">
          <hx-textarea-control>
            <textarea id="txtExpressionMsg" disabled >
              {{ex.message}}
            </textarea>
            <label for="txtExpressionMsg">
              Message
            </label>
          </hx-textarea-control>
        </div>
      </div>
    </div>
    <div class="hxCol hxSpan-6">
      <div class="hxRow expression">
        <div class="hxCol hxSpan-3">
          <hx-text-control>
            <input
              id="txtMetricField-{{i}}"
              type="text"
              disabled
              [value]="ex.expression?.valueName"
            />
          </hx-text-control>
        </div>
        <div class="hxCol hxSpan-3">
          <hx-text-control class="comparator">
            <input
              id="txtComparator-{{i}}"
              type="text"
              disabled
              [value]="ex.expression?.comparator"
            />
          </hx-text-control>
        </div>
        <div class="hxCol hxSpan-3">
          <hx-text-control>
            <input
              id="txtComparator-{{i}}"
              type="text"
              disabled
              [value]="ex.expression?.comparisonValue"
            />
          </hx-text-control>
        </div>
        </div>
      </div>
    </div>
</div>
