<hx-busy [ngClass]="isLoading?'spinner-show':'spinner-dis'">
</hx-busy>
      <table id="resctble" class="hxTable" [ngClass]="isLoading?'tabelop':''">
      <thead>
        <tr>
          <th class="header">RESOURCE</th>
          <th class="header">ZONE NAME</th>
          <th class="EnvHeader"> ENVOY ID</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let resource of resources">
          <td>{{resource.resourceId}}</td>
          <td>{{resource.zoneName}}</td>
          <td>{{resource.envoyId}}</td>
          <td>
            <hx-disclosure *ngIf="isAdmin(router)" aria-controls="monitor-modal"
            (click)="testMonitor(resource.resourceId)" class="hxBtn">
              Test Monitor
            </hx-disclosure>
          </td>
        </tr>
      </tbody>
    </table>
    <hx-modal id="monitor-modal" class="hxLg">
      <header>
        <h2>Test {{monitor.name || monitorUtil.formatSummaryField(monitor)}}</h2>
      </header>
      <hx-div scroll="vertical">
        <ng-template *ngIf="isTestLoading; then loadingBlock; else metricsBlock"></ng-template>
        <ng-template #loadingBlock>
          <div class="center">
            <hx-busy></hx-busy>
          </div>
        </ng-template>
        <ng-template #metricsBlock>
          <div *ngIf="testMonitorResults.errors.length > 0">
            <div *ngFor="let error of testMonitorResults.errors" class="hxRow hxSpan-12">
              <div class="hxCol hxSpan-12">
                {{error}}
              </div>
            </div>
          </div>
          <div *ngIf="testMonitorResults.data && testMonitorResults.errors.length === 0">
            <div *ngFor="let metric of testMonitorResults.data.metrics; index as i" class="hxRow hxSpan-12">
              <div class="hxCol hxSpan-12">
                <h3 id="metricName-{{i}}">{{metric.name}}</h3>
              </div>
              <div class="hxCol hxSpan-6">
                <h3>Tags:</h3>
              </div>
              <div *ngFor="let tag of Object.keys(metric.tags || {}); index as innerI" class="hxCol hxSpan-3">
                <div class="hxCol hxSpan-6">
                  <h4 id="metricTagname-{{innerI}}">{{tag}}</h4>
                </div>
                <div class="hxCol hxSpan-6">
                  <span id="metricTag-{{innerI}}">{{metric.tags[tag]}}</span>
                </div>
              </div>
              <div class="hxRow hxSpan-12" *ngIf="Object.keys(metric.ivalues).length > 0">
                <div class="hxCol hxSpan-6">
                  <h3>ivalues:</h3>
                </div>
                <div class="hxCol hxSpan-6">
                  <div class="hxRow">
                    <div *ngFor="let value of Object.keys(metric.ivalues); index as innerI" class="hxCol hxSpan-6">
                      <div class="hxCol hxSpan-3">
                        <h4 id="metricIValueName-{{innerI}}">{{value}}</h4>
                      </div>
                      <div class="hxCol hxSpan-3">
                        <span id="metricIValue-{{innerI}}">{{metric.ivalues[value]}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hxRow hxSpan-12" *ngIf="Object.keys(metric.fvalues).length > 0">
                <div class="hxCol hxSpan-6">
                  <h3>fvalues:</h3>
                </div>
                <div class="hxCol hxSpan-6">
                  <div class="hxRow">
                    <div *ngFor="let value of Object.keys(metric.fvalues); index as innerI" class="hxCol hxSpan-6">
                      <div class="hxCol hxSpan-3">
                        <h4 id="metricFValueName-{{innerI}}">{{value}}</h4>
                      </div>
                      <div class="hxCol hxSpan-3">
                        <span id="metricFValue-{{innerI}}">{{metric.fvalues[value]}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hxRow hxSpan-12" *ngIf="Object.keys(metric.svalues).length > 0">
                <div class="hxCol hxSpan-6">
                  <h3>svalues:</h3>
                </div>
                <div class="hxCol hxSpan-6">
                  <div class="hxRow">
                    <div *ngFor="let value of Object.keys(metric.svalues); index as innerI" class="hxCol hxSpan-6">
                      <div class="hxCol hxSpan-3">
                        <h4 id="metricSValueName-{{innerI}}">{{value}}</h4>
                      </div>
                      <div class="hxCol hxSpan-3">
                        <span id="metricSValue-{{innerI}}">{{metric.svalues[value]}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </hx-div>
    </hx-modal>
    <div class="hxRow resource-paging">
      <div class="hxCol">
        <app-pagination
          [total]="pagination?.totalPages"
          [page]="pagination?.number"
          [perPage]="pagination?.totalElements"
          [pagesToShow]="5"
          (goPrev)="prevPage()"
          (goNext)="nextPage()"
          (goPage)="goToPage($event)">
        </app-pagination>
      </div>
    </div>



